[submodule "sam_road"]
	path = sam_road
	url = https://github.com/InstaRoad/samroad.git
[submodule "instageo"]
	path = instageo
	url = https://github.com/InstaRoad/InstaGeo.git
[submodule "demo/instaroad-static"]
	path = demo/instaroad-static
	url = https://github.com/Goamhobala/InstaRoad-static.git
